@import "tailwindcss";

@theme {
    --color-primary: #1C58B7;
    --color-primary-dark: #143F85;
    --color-background: #FCFCFC;
    --color-error: #BB251A;

    --breakpoint-xs: 320px;
}

@layer base {
    .max-w-desktop {
        max-width: 1440px;
    }

    .user-link {
        @apply flex items-center gap-1;
    }

    .user-link > *:not(:first-child) {
        @apply max-lg:hidden;
    }
}

body {
    background-color: #F2F4F7;
    color: #121212;
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
}

input {
    outline: 0;
    border: 0;
}