---
import bannerAntibioticos from '../assets/banner-antibioticos.png';
import mobileAntibioticos from '../assets/mobile-antibioticos.png';
---

<section
  class="w-full max-w-desktop mx-auto flex items-center justify-around my-4 md:my-10 px-4 lg:px-8"
>
  <picture>
    <source
      media="(min-width: 728px)"
      srcset={bannerAntibioticos.src}
      width={1280}
    />
    <img
      src={mobileAntibioticos.src}
      width={1280}
      class="w-full h-auto rounded-lg"
    />
  </picture>
</section>
