---
import bannerAntibioticos from '../assets/banner-antibioticos.png';

import { Image } from 'astro:assets';
---

<section
  class="w-full max-w-desktop mx-auto flex items-center justify-around my-10"
>
  <Image
    src={bannerAntibioticos}
    alt="Antibióticos"
    width={1280}
    class="w-full h-auto rounded-lg"
  />
</section>
