---
import productosEstrella from '../assets/categories/productos-estrella.png';
import antigripales from '../assets/categories/antigripales.png';
import dermocosmetica from '../assets/categories/dermocosmetica.png';
import snacks from '../assets/categories/snacks.png';
import mejoresOfertas from '../assets/categories/mejores-ofertas.png';
import salud from '../assets/categories/salud.png';

import { Image } from 'astro:assets';

const categories = [
  {
    title: 'Productos Estrella',
    image: productosEstrella,
  },
  {
    title: 'Dermocosmetica',
    image: dermocosmetica,
  },
  {
    title: 'Antigripales',
    image: antigripales,
  },
  {
    title: 'Snacks',
    image: snacks,
  },
  {
    title: 'Mejores Ofertas',
    image: mejoresOfertas,
  },
  {
    title: 'Día de salud y bienestar',
    image: salud,
    disabled: true,
  },
];
---

<section
  class="max-lg:overflow-x-auto w-full max-w-desktop lg:mx-auto flex justify-around lg:mt-4 snap-x snap-proximity"
>
  {
    categories.map((category) => (
      <div
        class="flex flex-col items-center gap-2 cursor-pointer snap-start px-4 text-center text-sm"
        class:list={[category.disabled && 'saturate-0']}
      >
        <div
          class="size-[80px] lg:size-[100px] border-4 rounded-full relative"
          class:list={[
            category.disabled ? 'border-gray-200' : 'border-[#9EC8F1]',
          ]}
        >
          <Image
            src={category.image}
            alt={category.title}
            class="scale-[1.35]"
          />
        </div>

        <p class:list={[category.disabled && 'text-gray-300']}>
          {category.title}
        </p>
      </div>
    ))
  }
</section>
