---
import SearchIcon from '../components/icons/Search.astro';
import MapIcon from '../components/icons/Map.astro';
import UserIcon from '../components/icons/User.astro';
import TagIcon from '../components/icons/Tag.astro';
import CartIcon from '../components/icons/Cart.astro';
import ArrowDownIcon from '../components/icons/ArrowDown.astro';
import logo from '../assets/logo.svg';

import { Image } from 'astro:assets';
import HamburgerMenuIcon from './icons/HamburgerMenu.astro';
---

<header
  class="w-full bg-background md:py-4 py-5 px-6 flex flex-col gap-8 items-center"
>
  <div
    class="w-full flex max-w-desktop md:gap-12 max-md:justify-between"
  >
    <Image src={logo} alt="Logo" class="shadow-lg max-md:w-[150px]" />

    <div
      class="max-md:hidden rounded-lg flex py-3 px-4 bg-gray-100 justify-between flex-1"
    >
      <input
        type="text"
        class="placeholder:text-gray-400 flex-1"
        placeholder="Buscar por productos, marcas y más..."
      />

      <SearchIcon />
    </div>

    <div class="flex items-center gap-4 text-gray-600">
      <div class="max-md:hidden user-link">
        <MapIcon />
        <p>Barranquilla</p>
      </div>

      <div class="user-link">
        <UserIcon />
        <p>Edgardo</p>
        <ArrowDownIcon />
      </div>

      <div class="user-link">
        <TagIcon />
        <p>Cupones</p>
      </div>

      <div class="relative">
        <CartIcon />
        <div
          class="absolute -right-2 -top-2 rounded-full size-5 flex items-center justify-center bg-error text-white"
        >
          <span class="text-xs">1</span>
        </div>
      </div>
    </div>
  </div>

  <div class="md:hidden w-full flex items-center gap-4">
    <button>
      <HamburgerMenuIcon />
    </button>

    <div class="rounded-lg flex py-3 px-4 bg-gray-100 justify-between flex-1">
      <input
        type="text"
        class="placeholder:text-gray-400 flex-1"
        placeholder="Buscar por productos, marcas y más..."
      />

      <button><SearchIcon /></button>
    </div>
  </div>
</header>

<div
  class="md:hidden w-full flex gap-1 bg-[#ECF4FC] px-6 py-2 text-primary items-center text-sm"
>
  <MapIcon class="stroke-primary" />
  <p>Barranquilla</p>
  <ArrowDownIcon class="stroke-primary" />
</div>

<div class="md:hidden w-full px-6 py-2 bg-primary text-white shadow-lg">
  <p class="mb-3">
    Te mostramos los productos que se envían a <b>Barranquilla</b>. Selecciona
    tu ubicación para mostrarte los productos disponibles en tu ciudad.
  </p>

  <div class="flex justify-end gap-2 text-sm mb-1">
    <button class="rounded-full border border-gray-50 text-gray-50 px-4 py-2">
      Continuar
    </button>
    <button class="rounded-full bg-gray-50 text-primary px-4 py-2">
      Continuar
    </button>
  </div>
</div>
